* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.navbar h4 {
  font-size: 24px;
  font-weight: bold;
}

.navbar div {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: hsl(43.64deg 11.34% 19.02%);
  text-decoration: none;
  font-size: 18px;
}

.navbar button {
  padding: 8px 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 150px;
  align-items: flex-start;
  margin-top: 40px;
  gap: 15px;
}

.section h4 span {
  font-style: italic;
}

hr {
  border: none;
  border-top: 2px solid hsl(0deg 32.07% 58.5%);
  width: 60%;
  margin: 20px auto;
}

.section p {
  font-size: 60px;
  /* font-style: italic;  */
  color: hsl(43.64deg 11.34% 19.02%);
  margin-left: 40px;
  margin-top: 50px;
}
.section button {
  padding: 10px 20px;
  background-color: transparent;
  color: hsl(43.64deg 11.34% 19.02%);
  border-radius: 50px;
  border: 2px solid hsl(43.64deg 11.34% 19.02%);
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
}
.par {
  margin: 50px;
  background-color: hsl(0deg 32.07% 58.5%);
  width: fit-content;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  color: hsl(252deg 8.77% 88.82%);
  border-radius: 10px;
}
.par button {
  background-color: transparent;
  color: hsl(252deg 8.77% 88.82%);
  border-radius: 2px;
  height: fit-content;
  padding: 10px;
  border: none;
}
.par p span {
  font-weight: bold;
}
